restapi/src/main/resources/hotels.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8081/hotels" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8081/hotels" targetNamespace="http://localhost:8081/hotels">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8081/hotels">

  <xs:element name="GetAllHotelsRequest">
  </xs:element>

  <xs:element name="GetHotelsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="page" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetHotelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" type="tns:Hotel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Pagination">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="total" type="xs:long"/>
        <xs:element name="page" type="xs:int"/>
        <xs:element name="size" type="xs:int"/>
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
          <xs:element name="items" type="tns:Hotel"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Hotel">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="address" type="xs:string"/>
      <xs:element name="rating" type="xs:double"/>
      <xs:sequence maxOccurs="unbounded" minOccurs="0">
        <xs:element name="amenities" type="tns:Amenity"/>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Amenity">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="CreateHotelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="address" type="xs:string"/>
        <xs:element name="rating" type="xs:double"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdateHotelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="address" type="xs:string"/>
        <xs:element name="rating" type="xs:double"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeleteHotelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AddAmenityHotelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="idHotel" type="xs:int"/>
        <xs:element name="idAmenity" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RemoveAmenityHotelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="idHotel" type="xs:int"/>
        <xs:element name="idAmenity" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="DeleteHotelRequest">
    <wsdl:part element="tns:DeleteHotelRequest" name="DeleteHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateHotelRequest">
    <wsdl:part element="tns:UpdateHotelRequest" name="UpdateHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetHotelResponse">
    <wsdl:part element="tns:GetHotelResponse" name="GetHotelResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllHotelsRequest">
    <wsdl:part element="tns:GetAllHotelsRequest" name="GetAllHotelsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetHotelsRequest">
    <wsdl:part element="tns:GetHotelsRequest" name="GetHotelsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetHotelRequest">
    <wsdl:part element="tns:GetHotelRequest" name="GetHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateHotelRequest">
    <wsdl:part element="tns:CreateHotelRequest" name="CreateHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveAmenityHotelRequest">
    <wsdl:part element="tns:RemoveAmenityHotelRequest" name="RemoveAmenityHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddAmenityHotelRequest">
    <wsdl:part element="tns:AddAmenityHotelRequest" name="AddAmenityHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HotelPort">
    <wsdl:operation name="DeleteHotel">
      <wsdl:input message="tns:DeleteHotelRequest" name="DeleteHotelRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateHotel">
      <wsdl:input message="tns:UpdateHotelRequest" name="UpdateHotelRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetHotel">
      <wsdl:input message="tns:GetHotelRequest" name="GetHotelRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetHotelResponse" name="GetHotelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHotels">
      <wsdl:input message="tns:GetAllHotelsRequest" name="GetAllHotelsRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetHotels">
      <wsdl:input message="tns:GetHotelsRequest" name="GetHotelsRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateHotel">
      <wsdl:input message="tns:CreateHotelRequest" name="CreateHotelRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveAmenityHotel">
      <wsdl:input message="tns:RemoveAmenityHotelRequest" name="RemoveAmenityHotelRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddAmenityHotel">
      <wsdl:input message="tns:AddAmenityHotelRequest" name="AddAmenityHotelRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelPortSoap11" type="tns:HotelPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DeleteHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="DeleteHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="UpdateHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetHotelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHotels">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAllHotelsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetHotels">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetHotelsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="CreateHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveAmenityHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="RemoveAmenityHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddAmenityHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddAmenityHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelPortService">
    <wsdl:port binding="tns:HotelPortSoap11" name="HotelPortSoap11">
      <soap:address location="http://localhost:8081/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>